$primary-color: #3B82F6;
$primary-hover-color: #1E3B90;

$secondary-color: #ADCCFF;

$stroke-color: #C6C6C6;
$box-shadow-color: rgba($stroke-color, 0.25);

$text-default-color: #111827;
$text-secondary-color: $primary-color;

$component-background-color: white;
$background-color: #FDFDFD;