$primary-color: #3b82f6;
$primary-hover-color: #1e3b90;

$secondary-color: rgba(#3b82f6, 0.25);

$stroke-color: #c6c6c6;
$box-shadow-color: rgba($stroke-color, 0.25);

$text-default-color: #111827;
$text-secondary-color: $primary-color;

$component-background-color: white;
$background-color: #fdfdfd;

$red-color: #ca0000;
$green-color: #00ca87;
